@use '../../shared-styles/mixins' as *;

  .Preview {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: black;

	.Close {
	  position: absolute;
	  right: 16px;
	  top: 16px;
	  padding: 16px;
	  font-size: 64px;
	  color: var(--primary);
	}


	.Item {
	  @include  centerXandY;
	  width: 100%;
	  height: 100%;
	}

	.ArrowLeft {
	  @include absoluteContainerCenterY;
	  position: absolute;
	  left: 16px;
	  padding: 16px;
	  font-size: 64px;
	  color: var(--primary);
	  border: 2px solid var(--secondary-light)
	}

	.ArrowRight {
	  @include absoluteContainerCenterY;
	  position: absolute;
	  right: 16px;
	  padding: 16px;
	  font-size: 64px;
	  color: var(--primary);
	  border: 2px solid var(--secondary-light)
	}

	.ArrowLeft:hover,
	.ArrowRight:hover,
	.Close:hover {
	  cursor: pointer;
	}
  }

  .PreviewHidden {
	display: none;
  }

