@use '../../shared-styles/mixins' as *;

.Gallery {
  min-height: 100vh;

  .GalleryContainer {
	display: grid;
	gap: 16px;

	.GalleryItem {
	  @include centerXandY;
	  overflow: hidden;
	}
  }

  @include medium-screen {
	.GalleryContainer {
	  display: grid;
	  grid-template-columns: 1fr 1fr;
	}
  }

  @include large-screen {
	.GalleryContainer {
	  display: grid;
	  grid-template-columns: repeat(4, 1fr);
	}
  }
  /* FullScreen Overlay */
}

.Full {
  padding: 0;
}

.Inset {
  padding: 60px;
}


